<a routerLink="..">Go Back</a>
<router-outlet></router-outlet>

<div *ngIf="searchHistory?.length > 0">
    <div>
        <h3>Search History:</h3>
    </div>
    <table>
        <thead>
            <th>Search text</th>
            <th>Time of search</th>
        </thead>
        <tbody>
            <tr *ngFor="let search of searchHistory?.reverse()">
                <td>{{search.newSearch}}</td>
                <td>{{search.date | date:'MM-dd-yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>