/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.m-t-20 {
    margin-top: 20px;
}

.m-l-10 {
    margin-left: 10px;
}

.search-fit {
    max-width: 300px; 
    display: inline; 
    vertical-align:middle;
}

.img-fit {
    max-height: 100%;
    max-width: 100%;
}